body{
    font-family: 'Courier New', Courier, monospace;
    
}
.title{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 150px;
}

.info {
    max-width: 200px;
  }